body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #0e1621 0%, #1b2533 100%);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
